@media screen and (max-width: 1536px){
    h1 {
        text-align: center;
        font-size: 6rem;
    }
    
    .buttonContainer {
        text-align: center;
        padding-top: 5rem;
    }

    #jokeButton {
        padding: 5rem 20rem;
        border-radius: 25px;
        font-size: 8rem;
        background-color: rgb(241, 241, 114);
    }

    #jokeButton:hover{
        background-color: aqua;
    }
}

@media screen and (max-width: 3440px) {
    
}
